@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

main {
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 75px 65px;

    min-height: 100vh;
}

h1 {
    margin: auto;
    width: fit-content;

    padding: 10px 20px;
    background-color: rgba(17, 117, 162, 0.5);
    border-radius: 10px;

    color: white;
}

#kanban {
    overflow: hidden;
}

#kanban .column {
    box-sizing: border-box;
    width: calc(20% - 20px);
    margin: 10px;
    float: left;

    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
}

#kanban .column .card .tags > .tag {
    padding: 10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    color: white;
    text-align: center;
    align-content: center;
}

#kanban .column .card .tags > .tag.front {
    background-color: limegreen;
}
#kanban .column .card .tags > .tag.back {
    background-color: tomato;
}
#kanban .column .card .tags > .tag.device {
    background-color: gold;
}

#kanban .column .card {
    position: relative;
    padding: 30px 15px;
    background-color: white;
    border-radius: 10px;

    margin-bottom: 15px;
}

#kanban .column .card::before {
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    content: '\f00d';
    position: absolute;
    top: 10px;
    right: 10px;

    text-align: center;
    align-content: center;

    width: 25px;
    height: 25px;
    background-color: red;
    color: white;
    border-radius: 50%;
}

#kanban .column .card:hover {
    background-color: rgba(17, 117, 162, 0.65);
    color: white;
    cursor: pointer;
}

#kanban .column .card:hover::before {
    background-color: black;
}

#kanban .column .card:hover .tags > .tag {
    color: rgba(17, 117, 162);
}