body {
    margin: 0;
}

main {
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 8px;
}

h1 {
    margin: auto;
    width: fit-content;
}

#kanban {
    overflow: hidden;
}

.column {
    box-sizing: border-box;
    width: 20%;
    float: left;
    text-align: center;
}

.tags > .tag {
    padding: 10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    color: white;
}

.tags > .tag.front {
    background-color: limegreen;
}
.tags > .tag.back {
    background-color: tomato;
}
.tags > .tag.device {
    background-color: gold;
}
